@use "../base/variables" as *;

.meuuhdia_disclosure {
    position: relative;

    .meuuhdia_disclosure_content {
        position: absolute;
        bottom: calc(6em * 0.6);
        right: 0;
        display: none;
        flex-direction: column;
        background-color: $meuuhdia-color-secondary;
        color: $meuuhdia-color-main;
        border: 1px solid $meuuhdia-color-main;
        border-bottom: 0;

        // @media (max-width: 400px) {
        //     bottom: calc(4.2em * 0.6);
        // }

        input,
        button {
            &:focus,
            &:hover {
                outline-color: $meuuhdia-color-main;
            }
        }
    }

    .meuuhdia_volume_content {
        flex-direction: column-reverse;
        left: 0;
    }
}