$meuuhdia-color-main: var(--meuuhdia-color-main, #368092);
$meuuhdia-color-secondary: var(--meuuhdia-color-secondary, #060606);
$meuuhdia-font-family: var(--meuuhdia-font-family, "consolas");
$meuuhdia-cue-color: var(--meuuhdia-cue-color, #ffff00);
$meuuhdia-cue-bgcolor: var(--meuuhdia-cue-bgcolor, #000000);
$meuuhdia-cue-fontsize: var(--meuuhdia-cue-fontsize, 100%);
$meuuhdia-cue-fontweight: normal;